/* body{
	background: url(images/background\ images.jpg);
	
} */


.navbar{
	/* height: 80px; */
	border: 1px solid slategrey;
	background-color: antiquewhite;
	

	
}

.collapse{
	color: black !important;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1.5%;
	
}

.bismillah{
	
	text-align: center;
	align-items: center;
	height: 80px;
	background-color: rgb(250, 93, 93);


}
.bismillah img{
	margin-top: -35px ;
	
}

.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.hover13{
	margin-top: 10px;
	
}

.sa{
	box-shadow: 10px 10px 10px rgb(233, 232, 232);
}


.carousel-item ,h2{
	color: slategray;
	font-weight: bold;
	text-shadow: 2px 2px black;
}

a:focus{
	text-decoration: none;
}

a:active{
	text-decoration: none;
}
a:hover{
	text-decoration: none;

}

.mark{
	height: 60px;
	line-height: 80px;
	width: auto;
	color: rgb(250, 93, 93);
	background-color: antiquewhite;
}




.refund{
	background-color: whitesmoke;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
	height: auto;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	color: rgb(90, 88, 88);



}

.changes,.changes2.changes3{
	margin-top: 10px;
	margin-left: 50px;
}




h3{
	display: flex;
	color: slategray;
}

.far,.fas{
	width: 10px;
	height: 10px;
}
/* 
@media only screen and (max-width:400px)
{
	.refund{
		display: block;
	}
} */


.parent-box{
    /* background-color: #ddd; */
	display: flex;
	z-index: -1;
}
.parent-box .box{
    height: 500px;
   background-color: rgb(250, 93, 93);
/* width: auto; */
padding: 4px;
 margin: auto;
 

}

.parent-box .box img{
	width: auto;
	height: 380px;
	margin: auto;


}

.owl-carousel .owl-nav button.owl-prev{
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: slategray !important
}
.owl-carousel .owl-nav button.owl-next{
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:slategray !important

}



.aman{
	text-align: center;
	color: slategrey;
	font-weight: bold;
	text-shadow: 2px 2px black;
	/* align-items: center; */
}


#cr{
	color: whitesmoke;
	/* margin: 2px !important; */
	text-align: center;
	
	
	

}

.fa-truck,.fa-portrait,.fa-arrow-circle-left{
	font-size: 40px !important;
}

.last{

	background-color: whitesmoke;
	height: 30px;

	
}


.fa-phone-alt ,.fa-envelope ,.fa-facebook, .fa-whatsapp{
	font-size: 30px; 
text-align: center;
align-items: center;
margin:30px ;


}

.final{
	background-color: rgb(250, 93, 93);

	
}








#amna {
	opacity: 0.8;
	height: 300px;
  }


.sm{
	color: slategray;
	font-weight: bold;
	text-shadow: 2px 2px black;
}

.same{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.same-as{
	margin: 20px;
	height: 280px;
	width: 280px;
	align-items: center;
	text-align: center;
	box-shadow: 10px 10px 10px rgb(133, 117, 117);

}

.shell{
	/* background-color: slategray; */
	border: 1px solid black;
	margin:20px;
}

#cm{
	/* color: whitesmoke; */
	color: black;
	align-items: center;
	text-align: center;

}

.set{

	width: 1000px ;
	height: 500px;

	margin-bottom: -6px;
	margin-left: -13px;
	border: 1px solid black;
}

.sett{
	
		width: 50% ;
		height: 500px;
		margin-bottom: -6px;
		/* border: 1px solid black; */
	
}

.h4{
	margin-top: 8px;
	text-shadow: 3px 3px 3px rgb(187, 164, 164);
	color: slategray;
	font-weight: bold;
}




.tab{
	/* margin-left: 80px; */
	color: slategrey;
	
	
}




.saam{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.shill{
	display: inline-block
}

.shil{
	margin-left: 10px;

}

.but{
	width: 100px;
	color: slategrey;
	background-color: antiquewhite;
}


 #order{
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-top: 150px;
	text-shadow: 3px 3px 3px rgb(187, 164, 164);
}

.about{
	text-align: center;
	align-items: center;
	width: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: whitesmoke;
}









.sai{
	/* padding: none; */
	color: rgb(49, 49, 49);
	font-size: 30px;
}

.sheikh  img{
	width: auto;
	height: 12%;
	border: 2px solid black;
}

.ars{
	border-collapse: separate;
  border-spacing: 15px;
  /* margin-left: 20%; */

  
}


.ars td{
	background-color: rgb(244, 248, 250);
	padding: 1.2%;
}
 .shk img{
	 width: 22%;
	 height: 25%;
	
 }


 .fab , far{
	 /* width: 30px !important;
	 height: 30px !important; */
	 font-size: 40px;
 }

.fa-angle-up{
	color: black !important;
	font-size: 40px;
	position: fixed;
	bottom: 25px;
	right: 30px;
}